@font-face {
  font-family: "Hack Regular";
  src:
    /* local("Hack"), */
    url("fonts/Hack/hacknerdfont-regular.ttf")
}

:root {
  --background: #2a2a3b;
  --primary: #f1f1f1;
  --secondary: #fa4d4d;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: "Hack Regular", monospace;
}

header {
  display: flex;
  border-bottom: thin solid;
  align-items: center;
}

#logo {
  margin: 0 auto;
}

#socialsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20px;
}

#socialsDiv p {
  font-size: 1.1rem;
}

#icons {
  display: flex;
  column-gap: 3px;
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.secondaryText {
  color: var(--secondary);
}

.icon {
  color: var(--primary);
}

.navOption {
  position: relative;
  font-size: 1.2rem;
  /* border: solid; */
  /* border-width: 1px; */
}

.navOption a {
  display: block;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  color: var(--primary)

}

.navOption:hover {
  padding-top: 5px;
}

.navOption .onHover {
  display: none;
}

.navOption:hover .offHover{
  display: none
}

.navOption:hover .onHover{
  display: inline;
}

.ghostText {
  color: var(--background)
}
