@font-face {
  font-family: "Hack Regular";
  src:
    /* local("Hack"), */
    url("fonts/Hack/hacknerdfont-regular.ttf")
}

:root {
  --background: #2a2a3b;
  --primary: #f1f1f1;
  --secondary: #fa4d4d;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: "Hack Regular", monospace;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid thin;
  border-color: #888888;
  color: #888888;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font-size: 0.8rem;
}

footer p {
  margin: 0;
}

/* in-text links */
p a {
  text-decoration: underline;
  color: var(--primary);
}

.bordered {
  border: solid 2px;
}

.mainHeader {
  display: flex;
  align-items: center;
  /* border-bottom: thin solid; */
}

.minorHeader {
  position: absolute;
  left: 15px;
  top: 4px;
  display: flex;
  align-items: center;
  font-size: 0.5rem;
}

.secondaryText {
  color: var(--secondary);
}

.icon {
  color: var(--primary);
}

.textContainer {
  width: 60%;
  margin: 0 auto;
}

.minorNav {
  margin-top: 25px;
  margin-bottom: 40px;
}

.navOption {
  font-size: 1.2rem;
  /* border: solid; */
  /* border-width: 1px; */
}

.navOption a {
  display: block;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  color: var(--primary)
}

.navOption:hover {
  /* padding-top: 5px; */
}

.navOption .onHover {
  display: none;
}

.navOption:hover .offHover{
  display: none
}

.navOption:hover .onHover{
  display: inline;
}

.navOptionActive a {
  display: block;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  color: var(--primary)
}

.navOptionActive {
  font-size: 1.2rem;
}

.ghostText {
  color: var(--background)
}

#logo {
  margin: 0 auto;
}

#logo a {
  color: var(--primary);
  text-decoration: none;
}

#socials {
  display: flex;
  align-items: start;
  margin: 10px;
}

#socialsDiv {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 5px 5px;
}

#socialsDiv p {
  font-size: 1.1rem;
}

#icons {
  display: flex;
  column-gap: 3px;
}

#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

