<!-- page skeleton -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sodea.dev</title>
    <!-- styles here -->
    <link rel="stylesheet" href="/styles/globals.css">
    <link rel="stylesheet" href="/styles/nav.css">
  </head>
  <body>
  </body>
</html>

<!-- condensed logo header -->
<header class=minorHeader>
  <pre id=logo>
    <a href="/">
       __                      _
      / _ ________   ________  _\ 
     / / /  ___  /| /  _____/   /\
    / / /  /  / / //  /_____/  / /
   / / /  /  / / / \____  \   / /
  / / /  /_ / / / _____/  /\ / /
 / / /_______/ /  \______/ // /
 \/_ |_______|/   \_______// /
 \__                      __/
    </a>
  </pre>
</header>

<!-- nav bar (minorNav adds top padding) -->
    <nav class=minorNav>
      <ul id=navBar>
        <li class=navOption>
          <a href="/code/">
            CODE<span class=hoverText>/</span>
          </a>
          <div class="subOptionsContainer onHover">
            <div class=subOption>├─ 
              <a href="/code/#hobby">
                <span class=hoverTextSub>[</span><span class=hoverText>hobby</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>├─ 
              <a href="/code/#professional">
                <span class=hoverTextSub>[</span><span class=hoverText>professional</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>└─ 
              <a href="/code/#school">
                <span class=hoverTextSub>[</span><span class=hoverText>school</span><span class=hoverTextSub>]</span>
              </a>
            </div>
          </div>
        </li>

        <li class=navOption>
          <a>
            ART<span class=hoverText>/</span>
          </a>
          <div class="subOptionsContainer onHover">
            <div class=subOption>├─ 
              <a href="/film/">
                <span class=hoverText>FILM</span><span class=hoverTextSub>/</span>
              </a>
            </div>
            <div class=subOption>├─ 
              <a href="/photography/">
                <span class=hoverText>PHOTOGRAPHY</span><span class=hoverTextSub>/</span>
              </a>
            </div>
            <div class=subOption>├─ 
              <a href="/drawing/">
                <span class=hoverText>DRAWING</span><span class=hoverTextSub>/</span>
              </a>
            </div>
            <div class=subOption>└─ 
              <a href="/music/">
                <span class=hoverText>MUSIC</span><span class=hoverTextSub>/</span>
              </a>
            </div>
          </div>
        </li>

        <li class=navOption>
          <a href="/writing/">
            WRITING<span class=hoverText>/</span>
          </a>
          <div class="subOptionsContainer onHover">
            <div class=subOption>├─ 
              <a href="/writing/#media">
                <span class=hoverTextSub>[</span><span class=hoverText>media</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>├─ 
              <a href="/writing/#essays">
                <span class=hoverTextSub>[</span><span class=hoverText>essays</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>├─ 
              <a href="/writing/#research">
                <span class=hoverTextSub>[</span><span class=hoverText>research</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>└─ 
              <a href="/writing/#creative">
                <span class=hoverTextSub>[</span><span class=hoverText>creative</span><span class=hoverTextSub>]</span>
              </a>
            </div>
          </div>
        </li>

        <li class=navOption>
          <a href="/blog/">
            BLOG<span class=hoverText>/</span>
          </a>
        </li>

        <li class=navOption>
          <a href="/about/">
            ABOUT<span class=hoverText>/</span>
          </a>
          <div class="subOptionsContainer onHover">
            <div class=subOption>├─ 
              <a href="/about/#site">
                <span class=hoverTextSub>[</span><span class=hoverText>site</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>├─ 
              <a href="/about/#me">
                <span class=hoverTextSub>[</span><span class=hoverText>me</span><span class=hoverTextSub>]</span>
              </a>
            </div>
            <div class=subOption>└─ 
              <a href="/about/#contact">
                <span class=hoverTextSub>[</span><span class=hoverText>contact</span><span class=hoverTextSub>]</span> </a>
            </div>
          </div>
        </li>
      </ul>
    </nav>

<!-- blog post -->
<div id="[POST DATE]" class=bordered>
  <div class=blogTitleContainer>
    <h3 class=blogTitleText>TITLE HERE</h3>
    <h4 class=blogDateText>DATE HERE</h4>
  </div>
  <div class=blogContentContainer>
    <p>VERY INTERESTING CONTENT</p>
  </div>
</div>

<!-- drawing entry -->
<div class="bordered contentContainer">
  <img src="../images/art/[IMAGE_NAME].jpg" alt="DESCRIPTION" class="bordered image">
  <h3 class=contentText>TITLE</h3>
  <p class=contentText>DATE</p>
  <p class="contentText secondaryText">MATERIALS</p>
  <p class=contentText>OPTIONAL DESCRIPTION</p>
</div>

<!-- music video grid entry -->
<div class=gridElement>
  <iframe class=musicVideo src="URL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <h3 class=contentText>SONG TITLE</h3> 
  <p class="contentText secondaryText">ARTIST</p>
</div>

<!-- writing entry -->
<div class="bordered contentContainer">
  <div style="display:flex">
    <h3 class="contentText leftText">TITLE</h3>
    <p class="contentText rightText">YEAR</p>
  </div>
  <p class="contentText secondaryText">A SHORT DESCRIPTION</p>
  <embed src="PATH_TO_DOC" class="bordered pdf" type="application/pdf">
</div>

<!-- code project -->
<div class="bordered contentContainer">
  <div class=projectTitleContainer>
    <h3 class="contentText leftText">TITLE</h3>
    <p class="contentText rightText">DATE - RANGE</p>
    <div class=flexLineBreak></div>
    <p class="contentText">COMPANY OR CLUB</p>
  </div>
  <img src="PATH_TO_IMAGE" alt="" class="bordered image">
  <p class="contentText secondaryText">tech, stack, here</p>
  <p class=contentText>a description</p>
  <div class="hline divider"></div>
  <a class=contentText href="LINK" target="_blank">source code</a>
</div>

<!-- directory -->
<div class=directoryContainer>
  <h2>HEADER</h2>
  <a href="LINK">TITLE - DATE</a>
  <a href="LINK">TITLE - DATE</a>
  <a href="LINK">TITLE - DATE</a>
  <h2>HEADER2</h2>
  <a href="LINK">TITLE - DATE</a>
  <a href="LINK">TITLE - DATE</a>
  <a href="LINK">TITLE - DATE</a>
</div>

<!-- back button -->
<div class=textContainer>
  <div class=backButton>
    <a href="DIRECTORY_LINK">&lt;&lt;</a>
  </div>
</div>

<!-- page footer -->
<footer>
  <p>&copy; 2026 Sean O'Dea</p>
  <p>O'Dea Software (OS)</p>
</footer>
