.divider {
  margin: 16px 0;
}

.projectTitleContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.image2 {
  width: 48%;
  padding: 0;
  margin: 0;
}

.image3 {
  width: 30%;
  padding: 0;
  margin: 0;
}

.image4 {
  width: 23%;
  padding: 0;
  margin: 0;
}
