#navBar {
  list-style-type: none;
  margin: 0 auto 40px auto;
  width: 40%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: space-between;
}

.minorNav {
  margin-top: 25px;
}

.stickyNav {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--background);
  padding: 20px 0;
}

.navOption {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navOption a {
  padding: 0 0;
  text-decoration: none;
}

.navOption .onHover {
  display: none;
}

.navOption:hover .offHover{
  display: none
}

.navOption:hover .onHover{
  display: inline;
}

.navOptionActive a {
  display: block;
  text-align: center;
  padding: 0 0;
  text-decoration: none;
  color: var(--primary)
}

.navOptionActive {
  font-size: 1.2rem;
}

/* absolute positioning to allow proper spacing */
/* between nav bar titles */
/* kind of hacky but it works */
.subOptionsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  padding: 4px;
  position: absolute;
  top: 18px;
  background-color: var(--background);
  border: solid 2px;
  border-radius: var(--radius);
}

.subOption {
  padding: 0;
  margin: 0;
  font-size: 14px; 
  white-space: nowrap;
  text-wrap: nowrap;
}

.subOption .onHoverSub {
  display: none;
}

.subOption:hover .offHoverSub{
  display: none
}

.subOption:hover .onHoverSub{
  display: inline;
}

.navOption:hover .hoverText {
  color: var(--primary)
}

.subOption:hover .hoverTextSub {
  color: var(--primary)
}

