.gridImage {
  width: 100%;
  height: auto;
  padding: 0;
  align-self: center;
}

.photoGrid {
  display: flex;
  /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
  padding-bottom: 22px;
  border-bottom: solid 2px;
  margin-bottom: 40px;
}

.photoColumn {
  width: 33%;
}
